.container{
    background-color: white;
    padding: 3rem;
    
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &__todos{
        width: 100%;
    }
}